if SHIELD_VENUS_LEFT
config ZMK_KEYBOARD_NAME
    default "venus"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
endif

if SHIELD_VENUS_LEFT || SHIELD_VENUS_RIGHT
config ZMK_SPLIT
    default y
endif